<html style="background-color: black;">
    <head>
        <title>PalSP</title>
        <link rel="stylesheet" href="./../static/css/login.css">
    </head>
    <img src="./../static/image/background.png">
    <body>
        <div class="navbar"></div>
        <div class="loginContainer">
            <form action="/login" method="post">
                <div class="label">Username</div>
                <input type="text" name="username" autofocus>
                <div class="label">Password</div>
                <input type="text" name="password">
                <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>